[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
fastapi-mail = "*"
sqlalchemy = {extras = ["all"], version = "*"}
alembic = "*"
asyncpg = "*"
python-jose = "*"
passlib = "*"
langchain = "*"
openai = "*"
pytest = "*"
pre-commit = "*"

[dev-packages]
autopep8 = "*"
black = "*"
ipykernel = "*"
pylint = "*"

[requires]
python_version = "3.11"
